.Confirmed {
  width: 100%;
  height: auto;
  background-color: green;
  color: white;
  font-size: 15px;
  padding: 2px;
  border-radius: 5px;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Pending {
  width: 100%;
  height: auto;
  background-color: orange;
  color: white;
  font-size: 15px;
  padding: 2px;
  border-radius: 5px;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Rescheduled {
  width: 100%;
  height: auto;
  background-color: #1565c0;
  color: white;
  font-size: 15px;
  padding: 2px;
  border-radius: 5px;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Available {
  width: 100%;
  height: auto;
  background-color: gray;
  color: white;
  font-size: 15px;
  padding: 2px;
  border-radius: 5px;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn-primary {
  color: #fff;
  background-color: salmon !important;
  border-color: rgba(250, 128, 114, 0.372) !important;
  width: 100%;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: rgba(250, 128, 114, 0.372) !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(250, 128, 114, 0.185) !important;
}

.form-select:focus {
  border-color: rgba(250, 128, 114, 0.185) !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(250, 128, 114, 0.185) !important;
}
